extends layout.pug
block content
    .header
        img(src="/img/1.jpg", alt="image")
        .title
            h1 Welcome to My Population Website
            
    h1.cardsTitle About Us
    .cards
        .card
            img(src="/img/1.jpg", alt="image")
            h1 Our Team
            p Abraham, Tahj, Frankie, Partho, Iliass
